@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* Variables */
:root {
    --nav-bar-color: rgb(37, 39, 39);
    --nav-anchor-highlight-color: rgb(59, 63, 63);
    --frosted-bg-color: rgba(255, 255, 255, 0.1);
    --blocked-post-bg-color: rgba(255, 59, 59, 0.1);
    --misinfo-post-bg-color: rgba(33, 32, 24, 0.431);
    --frosted-fg-color: rgba(255, 255, 255, 0.2);
    --white-shadow-color: rgba(250, 250, 255, 0.2);
    --shadow-color: rgba(0, 0, 0, 0.25);
    --white-text-color: #fafafa;
    --subwhite-text-color: #a1a1a1;
    --black-text-color: rgb(69, 69, 70);
    --black-subtext-color: rgb(96, 97, 98);
    --white-subtext-color: #e5e5e5;
    --main-font-family: Arial, sans-serif;
    --roboto-font-family: 'Roboto', sans-serif;



    --main-bg-color: #3d3b54;
    --meta-text-color: #ddd;
    /* --frosted-bg-color: rgba(0, 0, 5, 0.4); */
    --input-bg-color: rgba(0, 0, 0, 0.4);
    --submit-btn-color: #ecf0edaa;
    --submit-btn-hover-color: #45a04988;
    --nav-btn-color: #34495e;
    --nav-btn-hover-color: #2c3e50;
    --clear-posts-btn-color: #7f8c8d;
    --clear-posts-btn-hover-color: #784949;
    --scrollbar-color: #fefefe66;
}

/* General styles */
* {
    scrollbar-color: var(--scrollbar-color) transparent;
    scrollbar-width: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: var(--roboto-font-family);
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(-45deg, var(--main-bg-color), rgb(40, 23, 39), rgb(24, 10, 1));
    /* background: linear-gradient(-45deg, #a0c1d1, #e0e0e0, #ffffff, #d7e6f2); */
    /* background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fbc2eb, #a6c1ee); */
    /* background: linear-gradient(-45deg, #2E3192, #1BFFFF, #1E90FF, #00a8cc); */
    /* background: linear-gradient(to top, rgb(54, 69, 113), rgb(107, 78, 53) 50%, rgb(179, 98, 49) 94%, rgb(158, 44, 44) 100%); sunset */
    /* background: linear-gradient(to top, rgb(36, 37, 40), rgb(68, 71, 71) 50%, rgb(127, 130, 130) 94%, rgb(119, 122, 123) 100%); */
    background-size: 200% 200%;
    animation: gradient 5s ease;
    animation-fill-mode: forwards;
    color: var(--text-color);
}

.hidden, .hidden * {
    display: none;
}

/* */
#page-content {
    position: fixed;
    width: 98%;
    height: 96vh;
    top: 0;
    margin: 0 1vw 4vh 1vw;
    z-index: 0;
    border-radius: 0 0 5vmin 5vmin;
}

/* Forum section */
#forum {
    position: absolute;
    display: grid;
    /* grid-template-areas:
        'nav nav nav nav'
        'menu header profile-info profile-pic'
        'menu subheader search search'
        'menu posts posts posts';
    grid-template-columns: 15% 55% 20% 10%; */
    grid-template-areas:
    'nav nav nav'
    'post post post';
    grid-template-columns: 70% 20% 10%;
    grid-template-rows: 10% 90%;
    gap: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: 0 0vw 1vw 0.5vw var(--shadow-color);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
}

/* Nav section */
#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 3;
    margin: 0;
    background: var(--nav-bar-color);
    /* box-shadow: 0 -0.5vw 0.3vw 0.3vw var(--white-shadow-color); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: nav;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

#nav::before {
    position: absolute;
    width: 1.5vw;
    left: -1.5vw;
    top: 100%;
    box-shadow: 0 0px 1px 0.5px white;
    content: '';
    z-index: -1;
}

#nav div {
    justify-content: space-around;
}

#navleft, #navright {
    height: auto;
}

#nav a {
    height: 100%;
    letter-spacing: 0.2em;
    padding: calc(10% - 1em) 2em;
    text-decoration: none;
    cursor: pointer;
    color: var(--white-text-color);
    text-transform: uppercase;

    font-size: 0.9em;
    font-weight: 400;
    font-family: var(--roboto-font-family);
}

#nav a:hover {
    background-color: var(--nav-anchor-highlight-color);
}

/* Content */
/* Header section */
#header {
    grid-area: header;
    margin-left: 1%;
}

#header h1 {
    letter-spacing: 0.15em;
    margin: 0;
    font-size: 4em;
    z-index: 1;
    font-weight: 500;
    color: var(--white-text-color);
    font-family: var(--roboto-font-family);
    white-space: nowrap;
}

#header h3 {
    padding-top: 3%;
    margin: 0;
    font-size: 0.8em;
    z-index: 1;
    font-weight: 500;
    color: var(--white-subtext-color);
    font-family: var(--roboto-font-family);
}

/* Profile info section */
#local-profile-pic {
    width: 5%;
    border: white solid 3px;
    border-radius: 100%;
}

#local-profile-info {
    grid-area: profile-info;
    display: flex;
    justify-content: right;
    align-items: center;
    color: var(--white-subtext-color);
}

#local-profile-info h3 {
    font-size: 1.2em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

/* Suheader section */
#subheader {
    grid-area: subheader;
    margin-left: 1%;
}

#subheader h2 {
    letter-spacing: 0.1em;
    margin: 0;
    font-size: 2em;
    z-index: 1;
    font-weight: 300;
    color: var(--white-subtext-color);
    font-family: var(--roboto-font-family);
}

/* Posts section */
#post {
    grid-area: post;
    width: 100%;
    margin: 0 0;
    background-color: rgba(0, 0, 0, 0)
}

#post-footer {
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 100%;
}

#post-footer p {
    position: absolute;
    width: 20%;
    left: -10%;
    color: var(--white-subtext-color);
    font-size: 0.8em;
    z-index: 5;
    text-align: center;
    font-weight: 300;
    white-space: nowrap;
    padding: 15vh 0 5vh 0;
}

.post {
    width: calc(95% - 16px);
    box-sizing: border-box;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    margin: 0 1% 4vh 1%;
    min-height: 20vh;
    transition: background-image 2s ease-in-out;
}
 
.main-post {
    border-radius: 0 0 1em 1em;
    padding: 1em 1em 1em 1em;
    scrollbar-width: none;
    margin: 0;
    width: auto;
    background-image: linear-gradient(135deg, var(--frosted-bg-color), rgba(255, 255, 255, 0));
    box-shadow: 0 3px 20px var(--shadow-color);
    /* backdrop-filter: blur(1em); */
    border: 1px solid rgba(255, 255, 255, 0.18);
}

    .trashcan-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.2em;
        color: #888;
        cursor: pointer;
    }

    .trashcan-icon:hover {
        color: #ddd;
    }

.comments ul {
    list-style: none;
    padding: 0;
}

.comments-section {
    margin-left: 5%;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.comment-field {
    float: bottom;
}

.author-field {
    width: 40%;
    height: 10%;
}

.post-title {
    font-family: var(--roboto-font-family);
    font-weight: 500;
    color: var(--white-text-color);
    padding: 0.3em;
    font-size: 3em;
    margin: 0;
}

.post-content {
    position: relative;
    overflow-y: scroll;
    font-weight: 400;
    color: var(--white-subtext-color);
}

.post-label {
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 187, 0, 0.675);
}

.post-meta {
    font-size: 0.8em;
    color: var(--meta-text-color);
    margin: 0 0 0.5em 0;
    width: 90%;
}

.post ul {
    padding: 0;
    list-style-type: none;
}

.comment {
    background-color: var(--input-bg-color);
    border-radius: 0.1em 1.5em 1.5em 1.5em;
    padding: 0.5em;
    width: 100%;
    margin-bottom: 5px;
    color: var(--white-subtext-color)
}

.comment-meta {
    color: var(--meta-text-color);
    font-size: 0.8em;
    margin-bottom: 5px;
}

/* New Post */
form#new-post-form {
    background: linear-gradient(45deg, rgba(47, 50, 46, 0.8), rgba(19, 19, 19, 0.8));
    border-radius: 1.25em;
    padding: 1.25em;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

form.comment-form {
    width: auto;
}

form#new-post-form input[type="text"],
form#new-post-form textarea,
form.comment-form input[type="text"],
form.comment-form textarea {
    width: calc(100% - 1em);
    padding: 0.3em 0.5em;
    border: 0.2em;
    border-radius: 0.2em;
    background-color: var(--input-bg-color);
    color: var(--white-text-color);
    margin-bottom: 0.5em;
    font-family: var(--main-font-family);
}

form#new-post-form button[type="submit"], 
form.comment-form button[type="submit"] {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.5em;
    background-color: var(--submit-btn-color);
}

form#new-post-form button[type="submit"]:hover,
form.comment-form button[type="submit"]:hover {
    background-color: var(--submit-btn-hover-color);
    color: var(--white-text-color)
}

form#new-post-form button[type="submit"]:hover .plus-icon,
form.comment-form button[type="submit"]:hover .comments-icon {
    color: var(--white-text-color)
}

#new-title,
#new-title::-webkit-input-placeholder {
    font-size: 1.3em;
    line-height: 2;
}

.main-post .comments-icon {
    color: #bbb;
}

.plus-icon, .comments-icon {
    font-size: 1.2em;
    color: var(--black-text-color);
    cursor: pointer;
}

/* Animations section */

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

.frosted {
    background-image: linear-gradient(135deg, var(--frosted-bg-color), rgba(255, 255, 255, 0));
    box-shadow: 0 3px 20px var(--shadow-color);
    /* backdrop-filter: blur(1em); */
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.blocked {
    background-image: linear-gradient(135deg, var(--blocked-post-bg-color), rgba(255, 255, 255, 0)) !important;
}

.misinfo, .main-post .misinfo {
    background-image: linear-gradient(135deg, var(--misinfo-post-bg-color), rgba(255, 255, 255, 0));
}


.post-author {
    background-color: rgba(0, 0, 0, 0.337);
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
}