<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/static/styles_post.css">
    <script src="https://kit.fontawesome.com/2d389f24b8.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>

</head>

<body onload="fetchPost()">
    <div id="page-content" class="frosted">
        <div id="forum">
            <div id="nav">
                <div id="nav-left">
                    <a href="/feed" onclick="loadFeed();">FORUM IPSUM</a>
                    <a href="/feed" onclick="loadFeed();">Back to Feed</a>
                </div>
                <div id="nav-right">
                    <a href="" onclick="clearPosts();">Drop</a>
                    <a id="login-button" class="hidden" href="/login">Login/Register</a>
                    <a id="logout-button" class="hidden">Logout</a>
                </div>
            </div>

            <div id="header">
                <h3></h3>
                <h1>FORUM IPSUM</h1>
            </div>
            <div id="subheader">
                <h2>FORUM OF THE FUTURE</h2>
            </div>
            <div id="post">
            </div>

            <div id="local-profile-info"><h3>Welcome user,</h3></div>
            <img id="local-profile-pic" src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg">
            <form id="search-bar" action="/search" target="_blank">
                <input name="search">
            </form>
        </div>
    </div>

</body>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>
